<main  ng-controller="TwitterCtrl"  ng-init="get_logged()">
<nav class="white darken-1">
	<div class="nav-wrapper" >
		
		<ul class="tabs left hide-on-med-and-down "">
			<li class="tab col s3 "><a class="active" href="#test1">Home</a></li>
			<li class="tab col s3"><a href="#test2">Notifications</a></li>
			<li class="tab col s3"><a href="#test3">Message</a></li>
		</ul>
		<a href="#" class="brand-logo center"><i class="material-icons">polymer</i></a>
		<ul class="right hide-on-med-and-down "  id="right-nav">
			<li class="col s5" id="search-nav-container" ng-init = "get_users()">
				<input list="profiles" placeholder="Search Twitter" id="search-nav" type="text" class="active validate" required ng-model = "search">
				<datalist id = "profiles">
					<option value="{{user.user_full_name}}" ng-repeat="user in users | filter:search"></option>
				</datalist>
				
			</li>
			<li class="col s1" id="icon-nav">
				<img src="assets/images/user.jpg" alt="" class='dropdown-button' href='#' data-activates='nav-dropdown'>
				<ul id='nav-dropdown' class='dropdown-content z-depth-0' >
					<li><a href="#!">View Profile</a></li>
					<li class="divider"></li>
					<li><a ng-click="sign_out_clicked()">Logout</a></li>
				</ul>
			</li>
			<li class="col s3" ng-init="sign_out()">
				<button class="btn waves-effect waves-teal" id="compose-nav">Tweet</button>
			</li>
		</ul>
	</div>
</nav>
<main>
<div class="container">
	<div class="row">
		<div class="col l3">
			<div class="card z-depth-0" id="profile-card">
				<div class="card-image" >
					<img src="assets/images/header.jpg">
					<span class="card-title">Card Title</span>
				</div>
				<div class="card-content" id="profile-card-info">
					<h6>{{user_logged.fullname}}</h6>
					<span>{{user_logged.username}}</span>

					<div class="row" id="profile-card-stats">
						<div class="col s4" ng-init="get_tweetcount()">
							<span>Tweets</span>
							<h5>{{tweetcount.tweetcount}}</h5>
						</div>
						<div class="col s4">
							<span>Following</span>
							<h5>240</h5>
						</div>
						<div class="col s4" ng-init="get_followerscount()">
							<span>Followers</span>
							<h5>{{followerscount.followerscount}}</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col l6">
			<div class="card z-depth-0" id="tweetbox-timeline-container" ng-init="get_tweets()">
				<div class="col s1">
					<div class="user-twitcon">
						<img src="assets/images/user.jpg" alt="">
					</div>	
				</div>
				<div class="col s11" id="tweetbox">
					<textarea placeholder="What's happening?" type="text" class="right active validate materialize-textarea" required ng-model="tweet" ng-init="post_tweet()" id='output' onkeyup="countChar(this)"></textarea>
					<div id="tweetbox-ctrls" class="right">
						<span id="char-count">140</span>
						<!-- <button class="btn waves-effect waves-teal z-depth-0" id="tweetbox-post" ng-click="post_tweet_clicked()" onclick="Materialize.toast('Tweet sent!', 4000)"">Tweet</button> -->
						<button class="btn waves-effect waves-teal z-depth-0" id="tweetbox-post" ng-click="post_tweet_clicked()" onclick="javascript:eraseText(); Materialize.toast('Tweet sent!', 4000);" disabled>Tweet</button>
					</div>
				</div>

			</div>
			<div class="card z-depth-0" id="twitter-timeline-container">
				<div class="card z-depth-0 col s12 tweet" ng-repeat="tweet in tweets">
					<div class="col s1 tweeted-by-twitcon">
						<div class="user-twitcon">
							<img src="assets/images/user.jpg" alt="">
						</div>
					</div>



					<div class="col s11 tweet-content">
							<div class="col s8 tweeted-by">
								<h6>{{tweet.user_full_name}}</h6>
								<span>{{tweet.user_handle}}</span>
							</div>
							<div class="col s4 tweet-timestamp">
								<span class="right">{{tweet.tweet_time | date:'medium'}} </span>
							</div>
							<div class="col s12 tweet-msg">
								<p>{{tweet.tweet}}</p>
							</div>
							<div class="col s12 tweet-controls">
								<div class="col s2 tweet-ctrl-reply">
									<a href="" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Reply">
										<i class="material-icons">reply</i>
										<span></span>
									</a>
								</div>
								<div class="col s2 tweet-ctrl-retweet">
									<a href="" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Retweet">
										<i class="material-icons">repeat</i>
										<span>{{tweet.tweet_retweets}}</span>
									</a>
								</div>
								<div class="col s2 tweet-ctrl-fave">
									<a href="" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Like">
										<i class="material-icons">favorite</i>
										<span>{{tweet.tweet_likes}}</span>
									</a>
								</div>
								<div class="col s2 tweet-ctrl-more" ng-click="">
									<a href="" class="tooltipped dropdown-button" data-position="top" data-delay="50" data-tooltip="Edit Tweet">
										<i class="material-icons">edit</i>
									</a>
								</div>
								<div class="col s2 tweet-ctrl-more" ng-click="delete_tweet(tweet)">
									<a href="" class="tooltipped dropdown-button" data-position="top" data-delay="50" data-tooltip="Delete Tweet" onclick="Materialize.toast('Tweet deleted!', 4000)">
										<i class="material-icons">delete</i>
									</a>
									<!-- <ul id='more-dropdown' class='dropdown-content z-depth-0' >
										<li><a href="#!">Delete Tweet</a></li>
										<li class="divider"></li>
										<li><a href="#!" onclick="Materialize.toast('Tweet deleted!', 4000)">Delete Tweet</a></li>
									</ul> -->
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 l3">
			<div class="card z-depth-0" id="who-to-follow">
				
			</div>
		</div>
	</div>
</div>
</main>
</main>
<script type="text/javascript" src="assets/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script type="text/javascript">
	function eraseText() {
	    document.getElementById("output").value = "";
	}

	function countChar(val) {
        var len = val.value.length;
        if (len >= 500) {
          val.value = val.value.substring(0, 140);
        } else {
          $('#char-count').text(140 - len);
        }
      };
      $('#output').keyup(function(){
    var thetext = $(this).val();

    if (thetext.length == 0 || thetext.length >= 140) {
        $('#tweetbox-post').attr('disabled', 'disabled');
    } else {
        $('#tweetbox-post').removeAttr('disabled');
    }
	});
</script>
